body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  overflow-x: hidden;
}

@font-face {
  font-family: Helmet;
  src: url('../fonts/Helmet-Regular.ttf') format('truetype');
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: -0.025em;
}

h2 {
  color: #222;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 8px;
  letter-spacing: -0.025em;
}

#most-popular h2 {
  color: #1e1e1e;
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  color: #404040;
  padding-top: 8px;
  line-height: 1.222;
  display: inline-block;
  font-weight: 400;
}

#special-reports h3 {
  display: block;
  font-weight: 700;
  font-size: 20px;
}

h4 {
  font-size: 15px;
  padding-bottom: 6px;
  padding-top: 2px;
}

.main-headline h3 {
  border-bottom: 3px solid #bb1919;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.story-link a,
.story-footnote-link a,
.mini-story-caption a,
#ces-heading a,
.ces-story a,
.experts-speech-bubble a,
#click-heading a,
#share a,
#follow a,
#elsewhere a {
  color: #222;
}
#also-heading,
#features-heading,
#experts-heading,
#special-reports-heading,
#share-heading,
#follow-heading,
#elsewhere-heading {
  color: #404040;
}
.story-link a:visited,
.story-caption a:visited,
.mini-story-caption a:visited,
#ces-heading a:visited,
.ces-story a:visited,
tbody td a:visited,
#elsewhere a:visited {
  color: #686868;
}

.story-caption a {
  color: #222;
}

iframe {
  border: none;
}

figure {
  padding-bottom: 9px;
}

#features figure {
  padding-bottom: 0;
}

#features figure span {
  padding-top: 7px;
}

figcaption {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 1.2em;
}

figcaption#main-caption {
  padding-top: 8px;
}

/* Header */

nav {
  height: 33px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  max-width: 100%;
  position: relative;
  border-bottom: 1px solid lightgrey;
  min-width: 320px;
}

nav img#navbar-logo {
  position: absolute;
  top: 6px;
  left: 8px;
  margin-right: 8px;
}

div#nav-logo {
  display: inline-block;
  height: 33px;
  width: 91px;
  border-right: 1px solid lightgrey;
}

#empty-nav-div-left,
#empty-nav-div-right {
  display: inline-block;
  height: 33px;
  min-width: 5px;
  width: 8%;
}
#nav-link-triangle-1 {
  position: absolute;
  top: 11px;
  left: -4px;
  z-index: 1;
  border-left: 6px solid #ccc;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
#nav-link-triangle-2 {
  position: absolute;
  top: 12px;
  left: -5px;
  z-index: 2;
  border-left: 5px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
#empty-nav-div-left {
  border-right: 1px solid lightgrey;
}
#empty-nav-div-right {
  position: relative;
}

nav ul {
  height: 33px;
  position: absolute;
  right: 8px;
  display: inline-block;
  min-width: 170px;
}

@media only screen and (min-width: 768px) {
  nav ul {
    min-width: 600px;
  }
}

nav ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  border-left: 1px solid lightgrey;
  height: 33px;
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 6px;
  min-width: 52px;
  float: left;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li#sport-link:hover {
  border-bottom: 4px solid #fe1;
}

nav ul li#news-link:hover {
  border-bottom: 4px solid #921;
}

nav ul li#weather-link:hover {
  border-bottom: 4px solid #8ce;
}
nav ul li#iPlayer-link:hover {
  border-bottom: 4px solid #ed3d7d;
}

nav ul li#tv-link:hover,
nav ul li#radio-link:hover,
nav ul li#more-link:hover
 {
  border-bottom: 4px solid #262626;
}

@media only screen and (max-width: 600px) {
  nav ul li#weather-link,
  nav ul li#iPlayer-link,
  nav ul li#tv-link,
  nav ul li#radio-link {
    display: none;
  }
}

nav ul li:nth-of-type(7) {
  padding-right: 27px;
}

@media only screen and (max-width: 374px) {
  nav ul li:nth-of-type(7) {
    padding-right: 6px;
  } 
}

nav.navbar-link li a {
  height: 33px;
}

nav ul li:last-of-type {
  top: 0;
  border-right: 1px solid lightgrey;
  width: 18%;
  padding-left: 8px;
  padding-bottom: 10px;
  min-width: 40px;
}
nav ul li:last-of-type a img {
  display: inline-block;
  position: relative;
  bottom: 2px;
}

nav a {
  color: #333;
}

#header-divider {
  min-height: 56px;
  position: relative;
  background-color: #bb1919;
}

#news-logo {
  width: 108px;
  height: 26px;
  margin-top: 15px;
  margin-left: 10px;
}

.main-headline,
.headline {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#main-headline {
  padding-top: 12px;
}

#main-headline figure,
.headlines figure {
  padding-bottom: 0;
}

#main-caption span,
#twitter-caption span,
#drone-caption span {
  padding-top: 9px;
}

img.story-img {
  display: block;
  max-width: 100%;
  padding-top: 13px;
}

.story-footnote-tag {
  display: block;
  font-size: 14px;
  color: #5a5a5a;
  padding-left: 18px;
  margin-bottom: 9px;
}

.story-footnote-tag a,
.story-footnote-tag a:visited {
  color: #a61b1b;
}

.story-footnote-tag-divider {
  color: #dcdcdc;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  bottom: 0.1em;
  font-size: 16px;
}

.headline-divider {
  display: block;
  height: 1px;
  width: 40px;
  background-color: #a61b1b;
}

.story-footnote-links {
  margin-bottom: 13px;
}

.story-footnote-link {
  padding-top: 8px;
  font-size: 14px;
}

.story-footnote-link a:visited {
  color: #686868;
}

.story-link a:hover,
.story-caption a:hover,
.story-footnote-link a:hover,
.mini-story-caption a:hover,
#ces-heading a:hover,
.ces-story a:hover,
.experts-speech-bubble a:hover,
#click-heading a:hover,
#share a:hover,
.share-list-item a:hover,
#follow a:hover,
table a:hover,
#elsewhere a:hover {
  color: #1167a8;
}

/* Main */

img#twitter-img,
img#drone-img {
  padding-top: 10px;
  min-width: 100%;
}

.mini-story-caption {
  padding-top: 12px;
}

.mini-story-footnote {
  margin-bottom: 10px;
}

#last-mini-story-footnote {
  margin-bottom: 32px;
}

/* CES */

#ces-heading,
#also-heading,
#features-heading,
#experts-heading,
#click-heading,
#special-reports-heading,
#share-heading,
#follow-heading,
#elsewhere-heading {
  width: 95%;
  font-size: 20px;
  font-weight: 400;
}

#ces-heading {
  margin: 22px 2.5% 15px;
}

#also-heading,
#features-heading,
#experts-heading,
#click-heading,
#special-reports-heading,
#share-heading,
#follow-heading,
#elsewhere-heading {
  margin: 20px 2.5% 10px;
}

.ces-story {
  font-size: 15px;
  font-weight: 700;
  padding-top: 0;
}

.iframe-wrapper {
  width: 95%;
  margin: 0 2.5% 15px;
}

#ces {
  margin-bottom: 32px;
}

/* Also */

#also,
#features,
#click,
#special-reports,
#elsewhere {
  margin-bottom: 32px;
}

#also-heading,
#features-heading,
#experts-heading,
#click-heading,
#special-reports-heading,
#share-heading,
#follow-heading,
#elsewhere-heading {
  letter-spacing: 0;
}

#hawking-img,
#snoop-img {
  max-width: 100%;
}

.also-story {
  margin-bottom: 17px;
}

.also-caption {
  padding-top: 2px;
  padding-bottom: 4px;
}

#newsbeat-badge {
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  background-color: #4d2c7a;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin-top: -0.25em;
  vertical-align: middle;
  padding: 0.25em 0.25em 0.16em;
}

/* Experts */

.experts-speech-bubble {
  background-color: #ededed;
  padding: 12px 12px 13px;
  position: relative;
  margin-bottom: 20px;
}

.experts-speech-bubble::after {
  border-color: #ededed transparent;
  border-style: solid;
  border-width: 14px 14px 0 0;
  bottom: -14px;
  content: '';
  display: block;
  left: 14px;
  position: absolute;
  width: 0;
}

.experts-speech-bubble p {
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #404040;
  margin-bottom: 6px;
}

.experts-speech-bubble h4 {
  padding-bottom: 3px;
}

.experts-speech-bubble span {
  margin-bottom: 0;
}

address {
  padding-left: 12px;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.33333;
}

address a {
  color: #404040;
}

address a span {
  color: #bb1919;
}

address a span:hover {
  color: #1167a8;
}

#experts .headline {
  margin-bottom: 34px;
}

/* Click */

.click-headline {
  background-color: #ededed;
  margin-bottom: 16px;
}

.click-video,
.click-link {
  padding-left: 8px;
}

.click-video {
  padding-top: 20px;
  padding-right: 8px;
  padding-bottom: 4px;
  width: 100%;
  height: 205px;
}

#click figure {
  padding-bottom: 0;
}

#click .story-footnote-tag {
  padding-bottom: 20px;
  padding-left: 22px;
}

h3.bunched-text,
h4.bunched-text {
  letter-spacing: -0.03em;
}

/* Special Reports */

#special-reports h3 {
  margin-bottom: 5px;
}

#special-reports img.story-img {
  padding-top: 0;
}

#ces-img,
#video-games-img {
  min-width: 100%;
}

#ces-img {
  height: 205px;
}

#special-reports figure {
  padding-bottom: 0;
}

#special-reports figure span {
  padding-top: 4px;
}

#special-reports figure #video-games-caption span,
#special-reports figure #robot-caption span,
#special-reports figure #trending-caption span {
  padding-top: 0;
}

#special-reports .headline {
  margin-bottom: 18px;
}

/* Social Media */

#share-heading {
  line-height: 1.2;
  padding-bottom: 6px;
}

/* #share ul {
  list-style-image: url('../images/mobile-alt-solid.svg');
} */

#share ul li {
  list-style: none;
}

#share ul li:first-child::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 10px;
  position: relative;
  top: 3px;
  margin-left: 2px;
  margin-right: 18px;
  background-image: url('../images/mobile-alt-solid.svg');
}

#share ul li:nth-child(2)::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 14px;
  top: 3px;
  position: relative;
  margin-right: 16px;
  background-image: url('../images/envelope-square-solid.svg');
}

#share ul li:nth-child(3)::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  top: 3px;
  position: relative;
  margin-right: 14px;
  background-image: url('../images/twitter-brands.svg');
}

.share-list-item {
  color: #404040;
  font-size: 14px;
  padding-bottom: 14px;
}

#follow a {
  font-size: 14px;
}

#follow-heading {
  margin-top: 18px;
}

#facebook,
#twitter {
  display: inline-block;
  width: calc(49.5% - 5px);
}

#rss {
  display: block;
  width: 99%;
  margin-left: 1%;
  border-bottom: 4px solid #222;
}

#facebook,
#twitter,
#rss {
  background-color: #f7f7f7;
  padding: 10px 20px 12px;
  text-align: center;
  margin-bottom: 8px;
}

#twitter {
  position: relative;
  right: -1px;
  margin-left: 2px;
  border-bottom: 4px solid #47c7fa;
}

#facebook {
  border-bottom: 4px solid #3c5a98;
  margin-right: 2px;
  margin-left: 1%;
}

#social-media {
  margin-bottom: 43px;
}

/* Most Popular */

table {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #ededed;
}

thead h2 {
  padding: 12px 8px 6px;
  letter-spacing: 0;
}

thead span {
  display: block;
  padding-left: 8px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #404040;
}

tbody {
  width: 90%;
}

tbody td {
  padding: 11px 8px 12px;
  color: #222;
  font-size: 15px;
  border-right: 15px solid #fff;
}

tbody td a:hover {
  color: #1167a8;
}

tbody th {
  text-align: left;
  border-left: 15px solid #fff;
  
}

tbody td,
tbody th {
  border-bottom: 1px solid #dbdbdb;
}

.weekday a {
  color: #bb1919;
}

tbody td a {
  color: #222;
}

/* Elsewhere */

#elsewhere .headline {
  background-color: #ededed;
  padding: 14px 16px 16px;
  margin-top: 24px;
}

#elsewhere-heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-left: 0;
}

#bible-img {
  min-width: 100%;
}

#bible-img,
#smoothies-img {
  padding-top: 9px;
}

#bible-fig {
  padding-bottom: 9px;
}

#elsewhere h4 {
  line-height: 1.33333;
}

#smoothies-fig {
  padding-bottom: 0;
}

/* Footer */

footer {
  height: 100vh;
}